@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --lea-darkblue: #0a2540;
  --lea-darkblue-lighter: #14497d;
  --lea-white: #f4f4f4;
  --lea-iconblue: #0e59e3;
  --lea-iconpurple: #a559e6;
  --lea-icongreen: #1bdda8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--lea-white);
  color: var(--lea-darkblue);
  margin: 2em;
  line-height: 1.6;
}

hr {
    border: 1px solid #eee;
}

h1, h2, h3 {
  color: var(--lea-darkblue);
  font-weight: 200;
}
h2, h3, h4, h5{
    margin-top: 2em;
}

a {
  color: var(--lea-iconpurple);
  text-decoration: none;
}

code {
  background: #f4f4f4;
  padding: 2px 4px;
}

pre {
    background: #FFF;
    border-radius: 16px;
    border-left: 3px solid var(--lea-darkblue);
}


.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #ddd;
}

.nav-buttons a {
  background-color: transparent;
  color: var(--lea-darkblue);
  padding: 0.5em 1em;
  border-radius: 25px;
  border: 1px solid var(--lea-darkblue);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.85em;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-buttons a:hover {
  background-color: var(--lea-darkblue);
  color: #FFF;
}
.nav-buttons a.next {
    background-color: var(--lea-darkblue);
    color: var(--lea-white);
}
.nav-buttons a.next:hover {
    background-color: var(--lea-darkblue-lighter);
    color: var(--lea-white);
}

/* If only one button, align it to the right */
.nav-buttons:has(.next):not(:has(.prev)) {
  justify-content: flex-end;
}

/* If only prev is present, align it to the left (optional, but clean) */
.nav-buttons:has(.prev):not(:has(.next)) {
  justify-content: flex-start;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

table {
    background: #FFF;
    border-radius: 16px;
}

thead{
    padding: 6px;
}
thead tr th{
    padding: 10px;
}
tbody tr td{
    padding: 10px 20px;
    border-bottom: 1px solid #F4f4f4;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}